// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

.lead-top{
  max-width: 650px;
}

#about-elements{
  margin: 2rem auto;
}

.card{
  margin-bottom: 1rem;

  .card-title{
    margin:0 0 .75rem 0;
  }

  .card-header{
    background-color: md-color($primary, 500);
  }

  .badge{
    background-color: md-color($accent, 700);
  }

  &-position{
    h3{
      color: #fff;
    }
    .details{
      margin: 0;
    }

    .description{
      p:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}