// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

.lead-top{
  max-width: 650px;
}

#about-elements{
  margin: 2rem auto;
}

.card{
  margin-bottom: 1rem;

  .card-title{
    margin:0 0 .75rem 0;
  }

  .card-header{
    background-color: md-color($primary, 500);
  }

  .badge{
    background-color: md-color($accent, 700);
  }

  &-position{
    h3{
      color: #fff;
    }
    .details{
      margin: 0;
    }

    .description{
      p:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}

:host /deep/ .expansion-panel__description{
  text-align: right !important;
}

:host /deep/ .expansion-panel__content{
  margin-left: 0 !important;
  padding: 14px 18px !important;
}

:host /deep/ .expansion-panel{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

:host /deep/ .expansion-panel--toggled{
  margin: 0 !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
