@import "../../assets/lib/bootstrap/scss/variables";
@import "../../assets/lib/bootstrap/scss/mixins";

// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

.navbar{
  //background: md-color($primary, 700);
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), #009688;
  
  
  @include media-breakpoint-down (xs) {
    .container{
      margin:0;
    }
  }

  .navbar-toggler {
    //border-color: #fff;
    &-icon{
    }

    &-right{
      right:0;
    }
  }
  
  .navbar-brand{
    //color: #fff;
  }

  .nav-link{
    //color: rgba(255, 255, 255, 0.8);
    
    &.active{
      //color: #fff;
    }
  }
}

//.active {
//  color: #fff;
//}
.navbar-toggler {
  //border: solid 1px silver;
  //border-radius: 2px;
  //color: #eee;
}

