<!--navbar-light bg-faded-->
  <nav class="navbar navbar-toggleable-sm navbar-light">

    <div class="container">

      <div class="d-flex justify-content-between">
        <a (click)="isCollapsed = true" class="navbar-brand" [routerLink]="[brandMenu.path]">
          {{brandMenu.title}}
        </a>

        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="hw-main-nav" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>


    <div class="collapse navbar-collapse" id="hw-main-nav" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <!--<a (click)="isCollapsed = true" class="navbar-brand hidden-md-down" [routerLink]="[brandMenu.path]">-->
        <!--{{brandMenu.title}}-->
      <!--</a>-->

      <ul class="navbar-nav mr-auto">
        <li (click)="isCollapsed = true" *ngFor="let menuItem of menuItems" class="nav-item" routerLinkActive="active" [ngClass]="getMenuItemClasses(menuItem)">
          <a class="nav-item nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active">{{menuItem.title}}</a>
        </li>
      </ul>
    </div>

</div>

  </nav>

