.splash{
  width: 800px;
  margin:0 auto;
  padding: 2em;

  &-elements{
    width: 400px;
    margin: 0 auto 2em;

    #image-self{
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      border-radius: 100%;

      img{
        width: 100%;
      }
    }

    button{
      display: inline-block;
    }
  }
}
