<div class="splash" id="splash-container">

  <div class="splash-elements">
    <a href="http://www.github.com/haydenwagner">
      <button md-button>Github</button>
    </a>

    <div id="image-self">
      <img src="../../assets/hwagner-bw-square.jpg"/>
    </div>

    <a href="http://www.linkedin.com/in/haydenwagner">
      <button md-button>LinkedIn</button>
    </a>

  </div>

  <div>
    <md-card>Web developer building apps with Javascript, node.js, and other web technologies</md-card>
  </div>

</div>


<p>
  splash works!
</p>
