@import "../../assets/temp/bootstrap/scss/variables";
@import "../../assets/temp/bootstrap/scss/mixins";

// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

.bg-splash-elements{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),md-color($primary, 500);
  padding: 2rem 0;
}

#splash-elements {
  //.card {
  //  margin: 2em 0 0 0;
  //  //border-width: 2px;
  //  //background-color: md-color($primary, 500);
  //  //border-color: md-color($primary, 500);
  //  //border-top-width: 2rem;
  //}

  #social-btns {
    text-align: center;

    .btn {
      width: 100%;
      margin: 0 0 .5em;
      max-width: 200px;

      @include media-breakpoint-down(md){
          margin: .5em 0 0;
      }
    }
  }

  .splash-description{
    color: white;
  }

  #image-self{
    text-align:center;

    // Medium devices (tablets, less than 992px)
    @include media-breakpoint-down (md) {
      margin: 0 0 1rem;
    }

    img {
      border-radius: 100%;
      border-top-left-radius: 0.25rem;
      max-width: 200px;

      //&:hover{
      //  border-top-left-radius: 100%;
      //  border-top-right-radius: 0.25rem;
      //}
    }
  }

  table{
    height:100%;
  }




}
