<!--<div id="splash-container">-->

<div class="bg bg-top-main-color">
  <div class="container" id="splash-elements">
    <!--<div class="card">-->
        <!--<div class="card-block">-->
          <div class="row">

              <div id="image-self" class="col-lg-3 col-md-4">
                <img class="img-fluid rounded-left img-thumbnail" src="../../assets/hwagner-bw-square_small.jpg"/>
              </div>

            <div class="col-lg-6 col-md-8 splash-description">
              <!--<p>I am a web developer building web apps and tools with Javascript and other web technologies.</p>-->
              <!--<p>In my posts I write about my experience and what I am learning right now.</p>-->
              <table>
                <tbody>
                <tr>
                  <td class="align-middle">
                    <p class="lead">Hi, my name is Hayden&nbsp;Wagner.</p>
                    <p>I am a web developer building web apps and tools with Javascript and other web technologies.</p>
                    <p>Here you can view examples of the work I do, and read about my experience and what I am learning right now.</p></td>
                  <!--<td class="align-bottom">bottom</td>-->
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-lg-3 col-md" id="social-btns">
                <a class="btn btn-secondary" href="http://www.github.com/haydenwagner" target="_blank">Github</a>
                <a class="btn btn-secondary" href="http://www.linkedin.com/in/haydenwagner" target="_blank">LinkedIn</a>
            </div>
          </div>
        <!--</div>-->

  </div>
</div>
<!--<md-card>Web developer building apps with Javascript, node.js, and other web technologies</md-card>-->


