<!--<div id="splash-container">-->

  <div class="container" id="splash-elements">
    <div class="row">
      <div id="image-self" class="col-4">
        <img class="img-fluid rounded" src="../../assets/hwagner-bw-square.jpg"/>
      </div>

      <div class="col-2">
        <a href="http://www.github.com/haydenwagner">
          <button md-button>Github</button>
        </a>

        <a href="http://www.linkedin.com/in/haydenwagner">
          <button md-button>LinkedIn</button>
        </a>
      </div>

      <!--<md-card>Web developer building apps with Javascript, node.js, and other web technologies</md-card>-->
      <md-card class="col-6">
        <p>I am a web developer building web apps and tools with Javascript and other web technologies.</p>
        <p>In my posts I write about my experience and what I am learning right now.</p>
      </md-card>
    </div>
  </div>

<!--</div>-->

