<!--<header>-->
    <!--<md-toolbar color="primary">-->

      <!--<nav>-->
        <!--<button md-button routerLink='/' routerLinkActive="active">Home</button>-->
        <!--<button md-button routerLink='/posts' routerLinkActive="active">Posts</button>-->
      <!--</nav>-->

      <!--&lt;!&ndash; This fills the remaining space of the current row &ndash;&gt;-->
      <!--&lt;!&ndash;<span class="example-fill-remaining-space"></span>&ndash;&gt;-->

      <!--&lt;!&ndash;<span>Right Aligned Text</span>&ndash;&gt;-->
    <!--</md-toolbar>-->
<!--</header>-->
<navbar></navbar>
<router-outlet></router-outlet>
