@import "../../assets/lib/bootstrap/scss/variables";
@import "../../assets/lib/bootstrap/scss/mixins";

//@include media-breakpoint-up(sm) {
//  html {
//    font-size: 16px;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  html {
//    font-size: 20px;
//  }
//}

//@include media-breakpoint-up(lg) {
//  html {
//    font-size: 28px;
//  }
//}

// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';


.bg{
  padding: 2rem 0 1rem;

  &-top-main-color{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),md-color($primary, 500);
    color: #fff;
  }

  .title{
    margin-bottom: 1.5rem;
  }
}

#post-element {
  margin: 2em auto 10em;

  h1, h2,.h1, .h2{
    margin: 3rem 0 2rem;
  }

  h3, .h3{
    margin: 2rem 0;
    color: #505050;
    font-weight: 400;
  }

  p{
    line-height: 1.8;
    margin-bottom: 2rem;
  }

  ul,ol{
    margin-bottom: 2rem;
  }

  li{
    margin: .5em 0;
  }

  @include media-breakpoint-up(md) {
      font-size: 18px;
  }

  .main-points{
    margin: 2.5em 0;

    .card-header{
      color: white;
      background: md-color($accent, 400);
      margin:0;
    }

    .card-block{
      padding: 0 1.25rem 0 0;
    }

    ul{
      margin-bottom: 0;

      li{
        margin: .5em 0;
      }
    }


  }

  #content {
    .alert{
      margin-bottom: 2rem;
    }

    img {
      @include img-fluid;
    }

    .no-touch{
      cursor: not-allowed;
    }

    figure{
      video{
        max-width:100%;
      }

      text-align: center;
      margin: 2.5rem 0;
      display: block;
    }

    //for any appstore links
    .div_appstore-links{
      img{
        max-width: 135px;
      }
    }

    code{
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
      margin-bottom: 2rem;
    }

    iframe{
      border:none;
      border: none;
    }

  }

  mark, .mark{
    background-color: md-color($accent, 200);
  }
}
