@import "../../assets/lib/bootstrap/scss/variables";
@import "../../assets/lib/bootstrap/scss/mixins";

//@include media-breakpoint-up(sm) {
//  html {
//    font-size: 16px;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  html {
//    font-size: 20px;
//  }
//}

//@include media-breakpoint-up(lg) {
//  html {
//    font-size: 28px;
//  }
//}

// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';


.bg{
  padding: 2rem 0 1rem;

  &-top-main-color{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),md-color($primary, 500);
    color: #fff;
  }
}

#post-element {
  margin: 2em auto 10em;

  h1, h2, h3, .h1, .h2, .h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h4, h5, h6, .h4, .h5, .h6{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #404040;
  }


  li{
    margin: 1em 0;
  }

  @include media-breakpoint-up(md) {
      font-size: 18px;
  }

  .main-points{
    margin: 2em 0;

    .card-header{
      color: white;
      background: md-color($accent, 400);
      margin:0;
    }

    .card-block{
      padding: 0 1.25rem 0 0;
    }

    li{
      margin: 1em 0;
    }

  }

  #content {
    img {
      @include img-fluid;
    }

    .no-touch{
      cursor: not-allowed;
    }

    figure{
      video{
        max-width:100%;
      }

      display: block;
    }

    //for any appstore links
    .div_appstore-links{
      img{
        max-width: 135px;
      }
    }

    code{
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }
  }

  mark, .mark{
    background-color: md-color($accent, 200);
  }
}
