@import "../../assets/lib/bootstrap/scss/variables";
@import "../../assets/lib/bootstrap/scss/mixins";

//@include media-breakpoint-up(sm) {
//  html {
//    font-size: 16px;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  html {
//    font-size: 20px;
//  }
//}

//@include media-breakpoint-up(lg) {
//  html {
//    font-size: 28px;
//  }
//}

#post-element {
  margin: 2em auto 10em;

  @include media-breakpoint-up(md) {
      font-size: 18px;
  }

  .main-points{
    margin: 2em 0;

    .card-header{
      color: white;
    }

    .card-block{
      padding: 0 1.25rem 0 0;
    }

    li{
      margin: 1em 0;
    }
  }

  #content {
    img {
      @include img-fluid;
    }

    .no-touch{
      cursor: not-allowed;
    }

    figure{
      video{
        max-width:100%;
      }
    }

    //for any appstore links
    .div_appstore-links{
      img{
        max-width: 135px;
      }
    }

    code{
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }
  }

  mark, .mark{
    background-color: mistyrose;
  }
}
