// Import theming functions
@import '../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';




#posts-page-elements{
  margin: 2em auto 2rem;

  .card{
    margin-bottom: 1em;


    .card-image{
      position: absolute;
      top: 0;
      right: 0;
      left: 65%;
      bottom: 0;
    }
    .card-block{
      position: relative;

      .card-title,
      .card-text {
        padding-left: 0;
      }
    }


    .card-header{
      .card-title{
        margin:0;
        color: #fff;
      }

      border-bottom: none;
    }

    //&::after{
    //  content: "";
    //  background-color: rgba(30,30,30,.5);
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: 0;
    //  position: absolute;
    //  //z-index: -1;
    //}

    a{
      color: #000;
    }

    .btn{
      //font-weight:bold;
      color: #fff;
      background-color: md-color($primary, 500);
      border-color: md-color($primary, 500);

      &:hover{
        background-color: md-color($primary, 700);
        border-color: md-color($primary, 700);
      }
    }

    .card-block,
    .card-footer{
      //border-left: 1rem solid md-color($primary, 500);
    }

    .card-block{
      .card-text{
        //color: #000;
      }

    }

    .card-footer{
      border-top: none;
    }

    //.card-img-height-limiter{
    //  max-height: 5rem;
    //  overflow: hidden;
    //
    //
    //  img{
    //    border-left: 1rem solid md-color($primary, 500);
    //    width: 100%;
    //  }
    //}

    .card-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 1.25rem;

      .btn{
        border-radius: initial;
        border-bottom-right-radius: calc(0.25rem - 1px);
      }
    }

  }

  /*
    .img-size-limiter{
      max-width : 240px;
      overflow: hidden;

      img{
        height: 150px;
      }
    }*/
}
