@import url(~@angular/material/core/theming/prebuilt/purple-green.css);
.example-fill-remaining-space {
  flex: 1 1 auto; }

body, html {
  padding: 0;
  margin: 0; }

.main-view-container {
  width: 800px;
  margin: 0 auto;
  padding: 2.1em; }
